<!-- This is an article template

    Replace:
    NAME
    MONTH_YEAR
    YOUTUBE_VIDEO_ID   (2 times!)
    GOOGLE_PHOTO_ALBUM_ID
    THUMB_FILE_NAME
    GOOGLE_MAP_URL

-->

<article>
    <p><strong>NAME</strong>, MONTH_YEAR</p>
    <div class="flex-container">
        <div>
            <a href="https://youtu.be/YOUTUBE_VIDEO_ID" target="_blank">
                <div class="block-preview">
                    <!-- YouTube thumbnail -->
                    <img src="https://img.youtube.com/vi/YOUTUBE_VIDEO_ID/maxresdefault.jpg" alt="Youtube video">
                    <!-- Bottom gradient -->
                    <div class="gradient"></div>
                    <!-- Center play button -->
                    <div class="youtube-play">
                        <div class="play-triangle"></div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a href="https://photos.app.goo.gl/GOOGLE_PHOTO_ALBUM_ID" target="_blank">
                <div class="block-preview">
                    <!-- YouTube thumbnail -->
                    <img src="img/video-thumbnails/THUMB_FILE_NAME.jpg" alt="Photo Album">
                    <!-- Bottom gradient -->
                    <div class="gradient"></div>
                    <!-- Center play button -->
                    <div class="album-play album-view"></div>
                </div>
            </a>
        </div>
    </div>
    <ul>
        <li><a href="GOOGLE_MAP_URL" target="_blank" class="map-link"><img src="img/icons/map.svg" class="map-icon" />Map</a></li>
    </ul>
</article>